[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/perceptiveshawty/etch
[submodule "themes/hugo-embed-pdf-shortcode-roneo"]
	path = themes/hugo-embed-pdf-shortcode-roneo
	url = https://github.com/perceptiveshawty/hugo-embed-pdf-shortcode-roneo.git
