/* Berkeley Font */
@font-face {
   font-family: 'berkeley';
   src: url('../public/berkeley-updated.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

#header {
    padding-bottom: 1em;
    margin: auto;
    text-align: center;
 }

 h2,h3 {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
 }

 #content {
    width: 40em;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
 }

 body {
    background-color: #ebebed;
    font-family: 'berkeley';
 }